{% for host in groups['all'] %}
- targets:
    - '{{ hostvars[host].ansible_host }}:9100'
  labels:
    hostname: '{{ host }}'
{% if hostvars[host].env is defined %}
    env: '{{ hostvars[host].env }}'
{% endif %}
{% endfor %}

- job_name: 'jenkins'
  metrics_path: /prometheus/
    scrape_interval: 300s
    scrape_timeout: 30s
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ["{{ hostvars['jenkins01'].ansible_host }}:8080"]