receivers:
  filelog/docker:
    include: [ /var/lib/docker/containers/*/*.log ]
    operators:
      - type: json_parser
        timestamp:
          parse_from: attributes.time
          layout: '%Y-%m-%dT%H:%M:%S.%LZ'
  
  filelog/system:
    include: [ /var/log/syslog, /var/log/auth.log ]
    start_at: end

processors:
  batch:
  attributes:
    actions:
      - key: log_source
        value: "webserver03"
        action: insert

exporters:
  otlphttp:
    endpoint: "http://159.8.76.116:3100/otlp"
    tls:
      insecure: true

service:
  pipelines:
    logs:
      receivers: [filelog/docker, filelog/system]
      processors: [attributes, batch]
      exporters: [otlphttp]