
- name: Télécharger le Jenkins Plugin Manager CLI
  get_url:
    url: https://github.com/jenkinsci/plugin-installation-manager-tool/releases/download/2.13.2/jenkins-plugin-manager-2.13.2.jar
    dest: /opt/jenkins-plugin-manager.jar
    mode: '0755'


- name: Installer la dépendance Python pour le module Jenkins d'Ansible
  apt:
    name: python3-jenkins
    state: present

    
- name: Installer les plugins avec le module natif
  community.general.jenkins_plugin:
    name: "{{ item }}"
    state: present
    url: "http://localhost:8080"
    url_username: "admin"
    url_password: "{{ jenkins_admin_password }}" # La variable vient de set_fact
  loop:
    - git
    - maven-plugin
    - docker-workflow
    - prometheus
  notify: Restart Jenkins

- name: S'assurer que les permissions sont correctes sur le dossier plugins
  file:
    path: /var/lib/jenkins/plugins
    owner: jenkins
    group: jenkins
    recurse: yes