  vars:
    tomcat_service: tomcat
    tomcat_webapps: /opt/tomcat/current/webapps
    tomcat_user: tomcat
    tomcat_group: tomcat

    war_name: petclinic
    war_file: files/petclinic.war

  tasks:

    - name: Stop Tomcat (optional but safe)
      systemd:
        name: "{{ tomcat_service }}"
        state: stopped

    - name: Remove old deployment
      file:
        path: "{{ tomcat_webapps }}/{{ war_name }}"
        state: absent

    - name: Remove old WAR
      file:
        path: "{{ tomcat_webapps }}/{{ war_name }}.war"
        state: absent

    - name: Download file from GitHub
      get_url:
        url: "https://github.com/Heropon33/petclinic/blob/master/target/petclinic.war"
        dest: "{{ tomcat_webapps }}/{{ war_name }}.war"
        owner: "{{ tomcat_user }}"
        group: "{{ tomcat_group }}"
        mode: '0644'

    - name: Start Tomcat
      systemd:
        name: "{{ tomcat_service }}"
        state: started
        enabled: yes